//COLORS

$Strong-Cyan: hsl(171, 66%, 44%);
$Light-Blue: hsl(233, 100%, 69%);
$Dark-Grayish-Blue: hsl(210, 10%, 33%);
$Grayish-Blue: hsl(201, 11%, 66%);
$Grayish-Blue-soft: hsla(201, 11%, 66%,0.1);
$White:#fff;

//UI

$background-body:$White;
$background-button-primary:$Strong-Cyan;
$background-button-secondary:$Light-Blue;
$background-footer:$Grayish-Blue-soft;

$color-main:$Grayish-Blue;
$color-footer:$Dark-Grayish-Blue;
$color-heading:$Dark-Grayish-Blue;
$color-button:$White;